a {
	color: #2e4053;
	text-decoration: none;
}
a.btn, .tag-cloud a {
	background-color: #2e4053;
}
main article div a,
main article p a {
	border-bottom: 1px solid #7199e8;
}
aside {
    background-color: #2e4053;
}

/* YT fluid embed
https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile_pic {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 8px;
	border-radius: 5px;
}

aside nav ul li {
	text-transform: capitalize;
}

.theme-logo {
	float: right;
}


/* mailchimp */

#mc_embed_signup{
	clear:left; 
	padding: 0px 20px;
	margin-top: 20px;
	border: 1px solid #536980;
}
#mc_embed_signup div {
	padding: 0px;
}
#mc-embedded-subscribe {
	background: #2e4053;
	margin: auto;
}
#mc_embed_signup .button {
	background: #d9411e;
}
.mc-field-group h3 {
	margin: 10px 0;
}
#mc_embed_signup .mc-field-group {
	min-height: 35px;
}

#mc-dark {
	padding: 0px;
}
#mc-dark #mc_embed_signup {
	background: #3e668f; 
}
#mc-dark .mc-field-group p a {
	text-decoration: underline;
	color: #c0ddfb;
}

.default {
    background-color: #2e4053;
}
.red {
	background-color: #a41d1d;
}
.green {
	background-color: #1da249;
}
.blue {
	background-color: #1d49a2;
}
.pink {
	background-color: #771da4;
}

/* articles search */
#search {
  background-image: url('../img/search.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#articleList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#articleList li a {
  border: 1px solid #f2f2f2;
  margin-top: -1px; /* Prevent double borders */
  background-color: #fff;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  display: block
}

#articleList li a.header {
  background-color: #e2e2e2;
  cursor: default;
}

#articleList li a:hover:not(.header) {
  background-color: #eee;
}
